.gamelink {
    text-decoration: none;
}

.gamelink>div {
    height: 300px;
    width: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 5px;
}

.gamelink>div>div {
    color: white;
    margin-bottom: 40px;
    font-size: 2em;
    font-weight: bold;
}