.navbar {
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 6px solid #3b3b3b;
    background: rgb(190, 130, 51);
    background: radial-gradient(circle, rgba(190, 130, 51, 1) 18%, rgba(2, 1, 6, 1) 19%, rgba(136, 160, 164, 1) 19%, rgba(45, 47, 47, 1) 96%);
}

.navbar h1 {
    color: white;
    font-size: max(3vw, 3vh);
}

.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

.navbar ul li {
    padding-left: 20px;
    display: flex;
    align-items: flex-end;
}

.navbar ul li div {
    text-decoration: none;
    font-size: max(1.8vw, 1.8vh);
    display: flex;
    align-items: flex-end;
}

.navbar ul li div a {
    text-decoration: none;
}

.navbar-link {
    padding: 10px;
    color: #ffffff;
}

.navbar-link.active {
    color: #ffffff;
    background-color: black;
    text-shadow: none;
    border-radius: 5px;
}